body{
  font-family: 'Nunito', `sans`-serif
}

.table {
  border: 1px solid #dddddd;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}


.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
  border-right-width:0px;
  border-left-width:0px;
}


@media only screen and (min-width: 600px) {
    .additional-info-container .userProgress
    {

            width: 25em;
        }

}
.placeOrderHeader {
  display:inline;
}

.additional-info-container {
    margin-left: 0em;
    margin-top: 1em;
}

.userProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #F05F40;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2em;

}

.threeOfFive {
    position: absolute;
    width: 60%;
    height: 100%;
    background: #3FB083;
    border-radius: 5px 0px 0px 5px;
}

.dropzone {
  width : 100%;
  height: 180px;
  border : 1px dashed black;
}

.businessDashboard-cover-left  {
  background-color: #1DC7EA;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2em;
  height: 20em;
  margin-bottom: 1em;
}

.twoOfFive {
      position: absolute;
      width: 40%;
      height: 100%;
      background: #3FB083;
      border-radius: 5px 0px 0px 5px;
  }

.businessDashboard-cover-middle  {
  background-color: #ED8D00;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2em;
  height: 20em;
  margin-bottom: 1em;
}

.businessDashboard-cover-right  {
  background-color: #FB404B;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2em;
  height: 20em;
  margin-bottom: 1em;
  overflow: auto;
}

.title-cover-landing {
    background-color: #F05F40;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2em;
    min-height: 7em;
    margin-bottom: 1em;
}

.menu-cover-landing {

    margin-top:1em;
}



.business-cover-landing {
    background-color: #F05F40;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2em;
    min-height: 7em;
    margin-bottom: 1em;
}

.company-logo-container {
    padding-top: 1em;
    padding-bottom: 3em;
    text-align: center;

}

.company-logo-container img {

        width: 25%;
        padding-left: 1em;


}

.title-cover-left {
        display: inline-block;
        width: 0%;
    }
    .title-cover-right {
            display: inline-block;
            width: 100%;
          }
  .title-cover-right h1, .businessHeading {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 1.5em;

  }

  .businessRegistration-cover-left {
          display: inline-block;
          width: 0%;
      }
      .businessRegistration-cover-right {
              display: inline-block;
              width: 100%;

            }
    .businessRegistration-cover-right h1 {
      color: #fff;
      font-size: 2.5em;
      margin-bottom: 1.5em;

    }

  @media only screen and (min-width: 753px) {



        .title-cover-left {

            background-image: url("/images/onlinePhone.png");
            width: 35%;
            background-repeat:no-repeat;
   background-size:contain;
   height: 250px;

        }

        .title-cover-right {
            display: inline-block;
            width: 65%;
        }

        .businessRegistration-cover-left {

            background-image: url("/images/grow.jpg");
            width: 35%;
            background-repeat:no-repeat;
   background-size:contain;
   height: 250px;

        }


}



.shopList {
  margin-top:10px;
}

.input-group {
  margin: 20px 0px;
}



.loading-icon {
          margin-top: 0em;
          text-align: center;
      }
.googleShops {
  margin: 20px 0px;
}

.orderTable {

  overflow: auto;
}
.placeOrderButton {
  margin-top: 3em;
}

.btn-squared-default
    {
        width: 150px !important;

        font-size: 20px;
        background-color: white;
        color:black;
    }

        .btn-squared-default:hover
        {
            border: 3px solid white;
            font-weight: 800;
        }

    .btn-squared-default-plain
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }

        .credit-card-box .panel-title {
            display: inline;
            font-weight: bold;
        }
        .credit-card-box .form-control.error {
            border-color: red;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
        }
        .credit-card-box label.error {
          font-weight: bold;
          color: red;
          padding: 2px 8px;
          margin-top: 2px;
        }
        .credit-card-box .payment-errors {
          font-weight: bold;
          color: red;
          padding: 2px 8px;
          margin-top: 2px;
        }
        .credit-card-box label {
            display: block;
        }
        /* The old "center div vertically" hack */
        .credit-card-box .display-table {
            display: table;
        }
        .credit-card-box .display-tr {
            display: table-row;
        }
        .credit-card-box .display-td {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
        }
        /* Just looks nicer */
        .credit-card-box .panel-heading img {
            min-width: 180px;
        }


        .item-notification-text {
            color: #f6f6f6;
            text-align: center;
            text-decoration: none;
        }

        .item-notification {
            color: #f6f6f6;
            font-size: 1.1em;
            padding-top: 0.7em;
            height: 50px;
            position: fixed;
            left: 0;
            text-align: center;
            text-decoration: none;
            top: -45px;
            width: 100%;
            animation: item-notification 1s ease forwards;
            z-index: 999999;
        }

        .add-item-notification {
            background-color: #3FB083;
        }

        .delete-item-notification {
            background-color: #E2514E;
        }

        .error-item-notification {
            background-color: #FAD675;
        }

        .item-notification-show {
            display: block;

        }

        .item-notification-hide {
            display: none;
        }

        @keyframes item-notification {
            0% { opacity: 0; }
            50% { opacity: 1; }
            100% { top: 0; }
        }

        @keyframes item-notification-hide {
            0% { top: 0 }
            50% { top: -25 }
            100% { top: -45 }
        }

        .my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}

.card-warning .card-header,
.card-warning .card-footer {
    background-color: transparent;
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
    background-color: transparent;
}

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8;
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de;
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c;
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f;
}

.card-inverse {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff;
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: calc(0.25rem - 1px);
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img-top {
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
    .card-deck {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-deck .card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-deck .card:not(:first-child) {
        margin-left: 15px;
    }
    .card-deck .card:not(:last-child) {
        margin-right: 15px;
    }
}

@media (min-width: 576px) {
    .card-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-group .card {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .card-group .card + .card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0;
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-top,
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
        border-radius: 0;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.75rem;
    }
}
.dashboardHeader {
  color: #fff;
}

.businessPanel {
  min-height: 300px;
}

.addToOrderButton {
  border-radius: 12px;
  background-color: orange
}
