

.shopList {
  margin-top:10px;
}

.input-group {
  margin: 20px 0px;
}

.menuList > .card {
  height: 100px
}

.loading-icon {
          margin-top: 0em;
          text-align: center;
      }
.googleShops {
  margin: 20px 0px;
}

.orderTable {

  overflow: auto;
}
